@import 'reset.scss';
//variables
$royalblue: #4183D7;
$middleblue: #3498db;
$pictonblue: #59ABE3;
$break-small: 480px;
$break-medium: 768px;
$break-large: 1200px;
//mixin
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    transition: $transition;
}

//reusable 
.royal-text {
    color: $royalblue;
}

.title {
    &:after {
        content: '';
        display: block;
        width: 30px;
        margin: 0 auto;
        margin-top: 20px;
        border-bottom: 2px solid royalblue;
        border-radius: 8px;
    }
}

.title-white {
    &:after {
        content: '';
        display: block;
        width: 30px;
        margin: 0 auto;
        margin-top: 20px;
        border-bottom: 2px solid white;
        border-radius: 8px;
    }
}

.btn-large {
    border-radius: 1000px;
    height: 45px;
    line-height: 45px;
    font-size: 15spx;
    background-color: white;
    color: #64AFD2;
    transition: all .3s ease-in-out;
    border: 1px solid white;
    box-shadow: none;
    letter-spacing: .5px;
    padding: 0 35px;
    &:hover {
        background-color: transparent;
        color: white;
        transition: all .3s ease-in-out;
        box-shadow: none;
        border: 1px solid white;
        letter-spacing: .5px;
    }
}

.btn-large-blue {
    border-radius: 1000px;
    height: 45px;
    line-height: 45px;
    font-size: 15spx;
    background-color: #64AFD2;
    color: white;
    transition: all .3s ease-in-out;
    border: 1px solid white;
    box-shadow: none;
    letter-spacing: .5px;
    padding: 0 35px;
    border: 1px solid #64AFD2;
    &:hover {
        background-color: transparent;
        color: #64AFD2;
        transition: all .3s ease-in-out;
        box-shadow: none;
        border: 1px solid white;
        letter-spacing: .5px;
        border: 1px solid #64AFD2;
    }
}

.btn-blue {
    border-radius: 100px;
    // height: 45px;
    // line-height: 45px;
    // font-size: 15spx;
    background-color: #64AFD2;
    color: white;
    transition: all .3s ease-in-out;
    border: 1px solid white;
    box-shadow: none;
    // letter-spacing: .5px;
    // padding: 0 35px;
    border: 1px solid #64AFD2;
    &:hover {
        background-color: transparent;
        color: #64AFD2;
        transition: all .3s ease-in-out;
        box-shadow: none;
        border: 1px solid white;
        letter-spacing: .5px;
        border: 1px solid #64AFD2;
    }
}

.file-field {
    position: relative;
    padding-left: 11.25px;
    padding-right: 11.25px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: #64AFD2;
    margin-right: 0px;
    transition: color .3s ease;
    text-transform: none;
}

.bodi {
    height: 100%;
    width: 100%;
    display: table;
}

//edit materializecss
input:not([type]).valid,
input:not([type]):focus.valid,
input[type=text].valid,
input[type=text]:focus.valid,
input[type=password].valid,
input[type=password]:focus.valid,
input[type=email].valid,
input[type=email]:focus.valid,
input[type=url].valid,
input[type=url]:focus.valid,
input[type=time].valid,
input[type=time]:focus.valid,
input[type=date].valid,
input[type=date]:focus.valid,
input[type=datetime].valid,
input[type=datetime]:focus.valid,
input[type=datetime-local].valid,
input[type=datetime-local]:focus.valid,
input[type=tel].valid,
input[type=tel]:focus.valid,
input[type=number].valid,
input[type=number]:focus.valid,
input[type=search].valid,
input[type=search]:focus.valid,
textarea.materialize-textarea.valid,
textarea.materialize-textarea:focus.valid {
    border-bottom: 1px solid #64AFD2;
    box-shadow: 0 1px 0 0 #64AFD2;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #64AFD2;
    box-shadow: 0 1px 0 0 #64AFD2;
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:focus:not([readonly])+label,
input[type=password]:focus:not([readonly])+label,
input[type=email]:focus:not([readonly])+label,
input[type=url]:focus:not([readonly])+label,
input[type=time]:focus:not([readonly])+label,
input[type=date]:focus:not([readonly])+label,
input[type=datetime]:focus:not([readonly])+label,
input[type=datetime-local]:focus:not([readonly])+label,
input[type=tel]:focus:not([readonly])+label,
input[type=number]:focus:not([readonly])+label,
input[type=search]:focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #64afd2;
}

//navbar
nav {
    background-color: transparent;
    box-shadow: none;
    ul {
        li {
            .active {
                &:after {
                    content: '';
                    display: block;
                    width: 20px;
                    margin: 0 auto;
                    margin-top: -15px;
                    border-bottom: 1px solid white;
                    border-radius: 8px;
                    @include transition(all .3s ease-in-out);
                }
            }
            a {
                @include transition(all .9s ease-in-out);
                &:hover {
                    background-color: transparent;
                    &:after {
                        content: '';
                        display: block;
                        width: 20px;
                        margin: 0 auto;
                        margin-top: -15px;
                        border-bottom: 1px solid white;
                        border-radius: 8px;
                        @include transition(all .3s ease-in-out);
                    }
                }
            }
        }
    }
}

.nav-wrapper {
    .brand-logo {
        img {
            width: 13%;
            padding: 10px;
            @media screen and (max-width: $break-small) {
                width: 40%;
                padding: 15px;
            }
            @media screen and (max-width: $break-medium) {
                width: 50%;
                padding: 15px;
            }
        }
    }
}

//homepage
#index-banner {
    background-color: #f3f6fc;
    background: linear-gradient(135deg, rgba(65, 131, 215, 0.97), rgba(133, 216, 206, 0.97)), url(../img/coding.jpg);
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    -webkit-clip-path: url("#clipping");
    clip-path: url("#clipping");
    z-index: 101;
    position: relative;
    padding-bottom: 100px;
    .section {
        .container {
            h1 {
                font-size: 3em;
            }
            .header {}
            .row {}
        }
    }
}

//about
#about {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: white;
    height: 320px;
    .container {
        .section {
            border-radius: 5px;
            padding-top: 50px;
            padding-bottom: 50px;
            background-color: #fcfcfc;
            box-shadow: 5px 5px 50px rgba(67, 38, 100, 0.15);
            //            background-color: white;
            margin-top: -230px;
            z-index: 102;
            position: relative;
            height: auto;
            //            padding: 50px;
            @media screen and (max-width: $break-small) {
                padding-top: 30px;
                padding-bottom: 30px;
                padding-left: 10px;
                padding-right: 10px;
                margin-top: -260px;
            }
        }
    }
}

//feature
#feature {
    padding: 100px 0;
    margin-top: -50px;
    background: linear-gradient(135deg, #4183D7, #85d8ce);
    color: white;
    z-index: 2;
    .container {
        .section {
            @media screen and (max-width: $break-small) {
                margin-top: 120px;
            }
        }
    }
}

//timeline 
#timeline {
    background-color: #f3f6fc;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

//contact
#contact {
    color: white;
    position: relative;
    z-index: 10;
    .container {
        .section {
            border-radius: 5px;
            padding-top: 50px;
            padding-bottom: 50px;
            background: linear-gradient(135deg, #4183D7, #85d8ce);
            box-shadow: 5px 5px 50px rgba(67, 38, 100, 0.15);
            margin-top: -80px;
            position: relative;
            height: auto;
            @media screen and (max-width: $break-small) {
                padding-top: 30px;
                padding-bottom: 30px;
                padding-left: 10px;
                padding-right: 10px;
                margin-top: -80px;
            }
        }
    }
}

//sponsor 
#sponsor {
    background-color: white;
    padding: 100px 0;
    position: relative;
    z-index: -10;
    .container {
        background: white;
        .row {}
    }
}

//footer
.page-footer {
    padding-top: 80px;
    background-color: white;
    background: linear-gradient(135deg, #4183D7, #85d8ce);
    -webkit-clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
    -webkit-clip-path: url("#clipping1");
    clip-path: url("#clipping1");
    //    -webkit-clip-path: url("#clipping");
    //    clip-path: url("#clipping");
    z-index: 1;
    position: relative;
    //    padding-bottom: 100px;
    .container {
        .row {
            div {
                a {
                    color: white;
                    padding: 0 5px;
                }
            }
        }
    }
    .footer-copyright {
        padding: 0;
        .container {
            p {
                color: white;
                line-height: 1em;
                a {
                    color: white;
                    padding: 0 5px;
                }
            }
        }
    }
}

// login
.main {
    color: white;
    text-align: center;
    height: 100%;
    width: 100%;
    display: table;
    background: linear-gradient(135deg, #85d8ce, #4183d7);
    .main-content {
        color: white;
        max-width: 600px;
        margin: 0 auto;
        vertical-align: middle;
        display: table-cell;
        text-align: center;
        .logo {
            vertical-align: middle;
            margin: 10px;
            height: 45px;
            width: auto;
        }
        .card {
            width: 25%;
            background: white;
            color: black;
            @media screen and (max-width: $break-small) {
                width: 98%;
            }
            .card-content {
                .card-title {}
            }
            .garis {
                width: 100%;
                height: 1px;
                opacity: 0.2;
                background-color: darkgrey;
            }
            .kanantext {
                padding-left: 5%;
                text-align: left;
                padding-right: 5%;
            }
        }
    }
}

// regisster
#main-register {
    color: white;
    text-align: center;
    height: 100%;
    width: 100%;
    display: table;
    background: linear-gradient(135deg, #85d8ce, #4183d7);
    .main-content {
        color: white;
        max-width: 600px;
        margin: 0 auto;
        vertical-align: middle;
        display: table-cell;
        text-align: center;
        .logo {
            vertical-align: middle;
            margin: 10px;
            height: 45px;
            width: auto;
        }
        .card {
            width: 40%;
            background: white;
            color: black;
            @media screen and (max-width: $break-small) {
                width: 98%;
            }
            .card-content {
                padding: 15px;
                .card-title {}
            }
            .garis {
                width: 100%;
                height: 1px;
                opacity: 0.2;
                background-color: darkgrey;
            }
            .kanantext {
                padding-left: 5%;
                text-align: left;
                padding-right: 5%;
            }
        }
    }
}

//biodata
#biodata {
    .bg {
        nav {
            background: linear-gradient(135deg, #4183d7, #85d8ce);
            padding-bottom: 6rem;
            .nav-wrapper {
                .container {
                    .brand-logo {
                        .logo {
                            vertical-align: middle;
                            margin: 10px;
                            width: 13%;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
    .form-biodata {
        padding-top: 40px;
        padding-bottom: 100px;
        .title-biodata {
            padding-bottom: 30px;
        }
    }
}